<div class="todo-container">
  <div class="tabs">
    <h1>TODOS</h1>
  </div>
  
  <!-- Incomplete and Complete buttons side by side -->
  <div class="tab-buttons">
    <h2>Incomplete</h2>
    <%= link_to "Complete", completed_tasks_path, class: "button complete-button" %>
  </div>

  <!-- Form for creating new tasks -->
  <div class="form">
    <%= form_with(model: @task, local: true) do |form| %>
      <div class="input-group">
        <%= form.text_field :name, placeholder: "Name", class: "form-input" %>
        <%= form.submit "Create Todo", class: "button" %>
      </div>
    <% end %>
  </div>

  <!-- List of tasks -->
  <ul>
    <% @tasks.each do |task| %>
      <li class="task-item">
        <span><%= task.name %></span>
        <div class="task-actions">
          <%= link_to "✔", complete_task_path(task), method: :get, class: "complete-button" %>
          <%= link_to "🗑", task_path(task), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-button" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
